
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: linear-gradient(135deg, #006eff, #00d8ff, #12daa8, #006eff);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  
  .container {
    max-width: 600px;
  }
  
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  

  p {
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  

  ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
   
    list-style: none;


  }
  
  ul li {
    margin: 15px 0;
     background-color: #0180a7;
     border-radius: 20px;
     padding: 10px 20px;
     transition: background-color 0.3s, transform 0.3s;
  }

  ul li:hover {
    background-color: #00b3d6;
    transform: translateY(-10px);   
    box-shadow: 0 4px 8px #000000;
  }
  
  ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s, transform 0.3s;
    font-weight: bold;
  }
  
  ul li a:hover {
    color: #000000;
    font-size: 1.1rem;
    transform: scale(1.1);
  }
  
  /* Animações */
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
  }
  
  .fade-in.delay-1 {
    animation-delay: 0.3s;
  }
  
  .fade-in.delay-2 {
    animation-delay: 0.6s;
  }
  
  /* Keyframes */
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  